body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: auto; /* Scrollen wieder erlauben */
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    position: relative;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    background-color: #f00020;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#quiz-area input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-color: rgb(196, 196, 196);
    font-size: 16px;
    outline: none; /* Entfernt die blaue Umrandung */
}

#quiz-area input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optionale Anpassung für ein weicheres Highlight */
}

#feedback {
    margin-top: 10px;
    color: red;
}

#back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #007BFF;
}

#back-button-image {
    width: 30px;
    height: 30px;
}

#back-button:hover {
    color: #0056b3;
}
